@tailwind base;
@tailwind components;
@tailwind utilities;

/* google sora font */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato&family=Sora:wght@100..800&display=swap');

body {
    font-family: "Sora", sans-serif;
}

.react-tabs__tab {
  border: 1px solid white !important;
  border-radius: 50px;
  color: white !important;
  padding: 7px 25px !important;
}

.react-tabs__tab--selected{
    color: #9538E2 !important;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 50px !important;
    border: none !important;
}
/* .active-btn {
  background-color: #9538E2 !important;
  color: white !important;
} */


.tabs-boxed :is(.tab-active, [aria-selected="true"]):not(.tab-disabled):not([disabled]), .tabs-boxed :is(input:checked) {
  --tw-bg-opacity: 1;
  background-color: #C7C8C8 !important;
  --tw-text-opacity: 1;
  color: #9538E2 !important;
}
/* .nav-icon {
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 50%;
  font-size: 10px;
} */